.blog {
    height: 647px;
    width: 100%;
    background-color: #EDF7FA;
}

.blog__title {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog__news {
    margin: 0 11px 17px 11px;
    width: 354px;
    height: 266px;
    left: 11px;

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}

.blog__news h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding-top: 12px;
    margin-bottom: 12px;
}

.blog__news h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-bottom: 12px;
}

.blog__news p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-bottom: 12px;
}